<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kepler.mapper.DepartmentMapper">
    <resultMap id="DepartmentMap" type="com.kepler.dto.Department">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName"/>
        <collection property="userList" ofType="com.kepler.dto.User">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="user_id" jdbcType="VARCHAR" property="userId"/>
            <result column="user_name" jdbcType="VARCHAR" property="userName"/>
            <result column="password" jdbcType="VARCHAR" property="password"/>
            <result column="email" jdbcType="VARCHAR" property="email"/>
            <result column="dep_id" jdbcType="BIGINT" property="depId"/>
        </collection>
    </resultMap>

    <select id="getDepartments" resultType="com.kepler.dto.Department">
        select id, departmentName from department;
    </select>

    <select id="getDepartment" resultType="com.kepler.dto.Department" parameterType="int">
        select id, departmentName from department where id = #{id};
    </select>

    <select id="getUserList" resultMap="DepartmentMap" parameterType="int">
        select dep.*, u.*
        from user u inner join department dep
        on dep.id = u.dep_id and dep.id = #{id}
    </select>
    
</mapper>